WebServiceProject/WebContent/wsdl/HolaMundo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" 
	xmlns:impl="http://ws"
	xmlns:intf="http://ws" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<!--WSDL created by Apache Axis version: 1.4 Built on Apr 22, 2006 (06:55:48 
		PDT) -->
	<wsdl:types><!-- Tipos de datos de los mensajes -->
		<schema elementFormDefault="qualified" targetNamespace="http://ws"
			xmlns="http://www.w3.org/2001/XMLSchema">
			<element name="saludar">
				<complexType>
					<sequence>
						<element name="nombre" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
			<element name="saludarResponse">
				<complexType>
					<sequence>
						<element name="saludarReturn" type="xsd:string" />
					</sequence>
				</complexType>
			</element>
		</schema>
	</wsdl:types>

	<wsdl:message name="saludarRequest"><!-- Mensaje de petición -->
		<wsdl:part element="impl:saludar" name="parameters" />
	</wsdl:message>

	<wsdl:message name="saludarResponse"><!-- Mensaje de respuesta -->
		<wsdl:part element="impl:saludarResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="HolaMundo"><!-- Define el Servicio! -->
		<wsdl:operation name="saludar">
			<wsdl:input message="impl:saludarRequest" name="saludarRequest" />
			<wsdl:output message="impl:saludarResponse" name="saludarResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="HolaMundoSoapBinding" type="impl:HolaMundo"><!-- Protocolo de comunicación -->
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="saludar">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="saludarRequest">
				<wsdlsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="saludarResponse">
				<wsdlsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="HolaMundoService"><!-- Opcional -->
		<wsdl:port binding="impl:HolaMundoSoapBinding" name="HolaMundo">
			<wsdlsoap:address
				location="http://localhost:8080/WebServiceProject/services/HolaMundo" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
