Calculadora/wsdl/Calculadora.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://demo.com/ws" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="CalculadoraService" targetNamespace="http://demo.com/ws">
  <wsdl:message name="restar">
    <wsdl:part name="a" type="xsd:float">
    </wsdl:part>
    <wsdl:part name="b" type="xsd:float">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dividir">
    <wsdl:part name="a" type="xsd:float">
    </wsdl:part>
    <wsdl:part name="b" type="xsd:float">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="restarResponse">
    <wsdl:part name="return" type="xsd:float">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sum">
    <wsdl:part name="a" type="xsd:float">
    </wsdl:part>
    <wsdl:part name="b" type="xsd:float">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multiplicarResponse">
    <wsdl:part name="return" type="xsd:float">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sumResponse">
    <wsdl:part name="return" type="xsd:float">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="dividirResponse">
    <wsdl:part name="return" type="xsd:float">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="multiplicar">
    <wsdl:part name="a" type="xsd:float">
    </wsdl:part>
    <wsdl:part name="b" type="xsd:float">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Calculadora">
    <wsdl:operation name="multiplicar">
      <wsdl:input message="tns:multiplicar" name="multiplicar">
    </wsdl:input>
      <wsdl:output message="tns:multiplicarResponse" name="multiplicarResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dividir">
      <wsdl:input message="tns:dividir" name="dividir">
    </wsdl:input>
      <wsdl:output message="tns:dividirResponse" name="dividirResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sum">
      <wsdl:input message="tns:sum" name="sum">
    </wsdl:input>
      <wsdl:output message="tns:sumResponse" name="sumResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restar">
      <wsdl:input message="tns:restar" name="restar">
    </wsdl:input>
      <wsdl:output message="tns:restarResponse" name="restarResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculadoraServiceSoapBinding" type="tns:Calculadora">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="dividir">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="dividir">
        <soap:body namespace="http://demo.com/ws" use="literal"/>
      </wsdl:input>
      <wsdl:output name="dividirResponse">
        <soap:body namespace="http://demo.com/ws" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="multiplicar">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="multiplicar">
        <soap:body namespace="http://demo.com/ws" use="literal"/>
      </wsdl:input>
      <wsdl:output name="multiplicarResponse">
        <soap:body namespace="http://demo.com/ws" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sum">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="sum">
        <soap:body namespace="http://demo.com/ws" use="literal"/>
      </wsdl:input>
      <wsdl:output name="sumResponse">
        <soap:body namespace="http://demo.com/ws" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restar">
      <soap:operation soapAction="" style="rpc"/>
      <wsdl:input name="restar">
        <soap:body namespace="http://demo.com/ws" use="literal"/>
      </wsdl:input>
      <wsdl:output name="restarResponse">
        <soap:body namespace="http://demo.com/ws" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculadoraService">
    <wsdl:port binding="tns:CalculadoraServiceSoapBinding" name="CalculadoraImplPort">
      <soap:address location="http://localhost:1234/Calculadora/service/Calculadora"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>